{% extends 'baseoficial.html' %}
{% load static %}
{% load bootstrap4 %}
{% block titulo %}
Editar diretor
{% endblock %}
{% block section %}
<form action="{% url 'edt_diretor' id %}" method="post" enctype="multipart/form-data">{% csrf_token %}
    {% bootstrap_messages message %}
    <h1>Editar diretor</h1>
    {% bootstrap_form form %}
    <button class="btn btn-secondary" type="submit">Salvar</button>
</form>
<br>
{% endblock %}
{% block javascript %}
<script src="{% static 'js/cadastro.js' %}"></script>
{% endblock %}