{% extends 'baseoficial.html' %}
{% load static %}
{% load bootstrap4 %}
{% block titulo %}Vice-diretores{% endblock %}
{% block section %}
{% bootstrap_messages message %}
<h1>Vice-diretores</h1>
<form>
    <div>
        <input class="form-control-sm" type="text" name="procurar" id="procurar" placeholder="Procurar" value="{{request.GET.procurar}}">
        <button class="btn btn-primary" type="submit">Procurar</button>
    </div>
</form>
<div class="todos-usuarios">
    {% if vicediretores %}
    {% for vicediretor in vicediretores %}
    <a href="{% url 'detalhes_vicediretor' vicediretor.id %}">
        <div class="usuarios">
            {% if vicediretor.foto %}
            <img class="foto-usuario" src="{{vicediretor.foto.url}}" alt="Foto do vicediretor">
            {% else %}
            <img class="foto-usuario" src="{% static 'img/avatars/comum.jpg' %}" alt="Foto do usuario padrão">
            {% endif %}
            <p>{{vicediretor.user.first_name}}</p>
        </div>
    </a>

    {% endfor %}
    {% else %}
    <p>Nada cadastrado</p>
    {% endif %}
    
</div>
<div>
    <nav>
        <ul class="pagination">
            {% if vicediretores.has_previous %}
            <li class="page-item">
                <a class="page-link" href="{% url 'mostrar_vicediretor' %}?page={{vicediretores.previous_page_number}}"
                    tabindex="-1">Anterior</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Anterior</a>
            </li>
            {% endif %}
            {% for num in vicediretores.paginator.page_range %}
            {% if num == vicediretores.number %}
            <li class="page-item active"><a class="page-link" href="#}">{{num}}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="{% url 'mostrar_vicediretor' %}?page={{num}}">{{num}}</a></li>
            {% endif %}

            {% endfor %}

            {% if vicediretores.has_next %}
            <li class="page-item">
                <a class="page-link" href="{% url 'mostrar_vicediretor' %}?page={{vicediretores.next_page_number}}"
                    tabindex="-1">Próximo</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Próximo</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% if perms.auth.modificar_vicediretor %}
    <a class="btn btn-primary" href="{% url 'cad_vicediretor' %}"> Cadastrar novo vicediretor</a>
{% endif %}
{% endblock %}