{% extends 'baseoficial.html' %}
{% load static %}
{% load bootstrap4 %}
{% block titulo %}
{{secretario.user.first_name}}
{% endblock %}
{% block section %}
<h1>Secretário(a)</h1>
{% bootstrap_messages message %}
<div class="d-flex flex-wrap">
    <div>
        <div>
            {% if secretario.foto %}
            <img id="mostrarfoto" src="{{secretario.foto.url}}" alt="Foto do secretario">
            {% else %}
            <img id="mostrarfoto" src="{% static 'img/avatars/comum.jpg' %}" alt="Foto de usuario padrão">
            {% endif %}
        </div>
    </div>
    <div id="informacoes">
        <div>
            <strong>Dados:</strong>
            <p>Nome completo: {{secretario.user.get_full_name}}</p>
            <hr>
            <p>CPF: {{secretario.cpf}}</p>
            <hr>
            <p>RG: {{secretario.rg}}</p>
            <hr>
            <p>Email: {{secretario.user.email}}</p>
            <hr>
            <p>Data de nascimento: {{secretario.data_de_nascimento}}</p>
            <hr>
        </div>
    </div>

</div>
<br>
{% if perms.auth.modificar_secretario %}
<div>
    <a class="btn btn-info" href="{% url 'edt_secretario' secretario.id %}">Editar dados</a>
    {% if perms.auth.apagar_secretario %}
    <a class="btn btn-danger" href="{% url 'del_secretario' secretario.id %}">Apagar</a>
    {% endif %}
</div>
{% endif %}
{% endblock %}