{% extends 'baseoficial.html' %}
{% load static %}
{% load bootstrap4 %}
{% block titulo %}
{{diretor.user.first_name}}
{% endblock %}
{% block section %}
<h1>Diretor(a)</h1>
{% bootstrap_messages message %}
<div class="d-flex flex-wrap">
    <div>
        <div>
            {% if diretor.foto %}
            <img id="mostrarfoto" src="{{diretor.foto.url}}" alt="Foto do diretor">
            {% else %}
            <img id="mostrarfoto" src="{% static 'img/avatars/comum.jpg' %}" alt="Foto de usuario padrão">
            {% endif %}
        </div>
    </div>
    <div id="informacoes">
        <div>
            <strong>Dados:</strong>
            <p>Nome completo: {{diretor.user.get_full_name}}</p>
            <hr>
            <p>CPF: {{diretor.cpf}}</p>
            <hr>
            <p>RG: {{diretor.rg}}</p>
            <hr>
            <p>Email: {{diretor.user.email}}</p>
            <hr>
            <p>Data de nascimento: {{diretor.data_de_nascimento}}</p>
            <hr>
        </div>
    </div>

</div>
<br>
{% if perms.auth.modificar_diretor %}
<div>
    <a class="btn btn-info" href="{% url 'edt_diretor' diretor.id %}">Editar dados</a>
    {% if perms.auth.apagar_diretor %}
    <a class="btn btn-danger" href="{% url 'del_diretor' diretor.id %}">Apagar</a>
    {% endif %}
</div>
{% endif %}
{% endblock %}