{% extends 'baseoficial.html' %}
{% load static %}
{% load bootstrap4 %}
{% block titulo %}
Cadastrar diretor
{% endblock %}
{% block section %}
<form action="{% url 'cad_diretor' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
    {% bootstrap_messages message %}
    <h1>Cadastrar diretor</h1>
    {% bootstrap_form form %}
    <button class="btn btn-secondary" type="submit">Cadastrar</button>
</form>
<br>
{% endblock %}
{% block javascript %}
<script src="{% static 'js/cadastro.js' %}"></script>
{% endblock %}