{% extends 'baseoficial.html' %}
{% load bootstrap4 %}
{% load static %}
{% block titulo %}{{discente.user.first_name}}{% endblock %}
{% block section %}
{% bootstrap_messages message %}

<div class="d-flex flex-wrap">
    <div>
        <div>
            {% if discente.foto %}
            <img id="mostrarfoto" src="{{discente.foto.url}}" alt="Foto do discente">
            {% else %}
            <img id="mostrarfoto" src="{% static 'img/avatars/comum.jpg' %}" alt="Foto de usuario padrão">
            {% endif %}
        </div>
    </div>
    <div id="informacoes">
        <div>
            <strong>Dados do discente:</strong>
            <p>Nome completo: {{discente.user.get_full_name}}</p>
            <hr>
            <p>Email: {{discente.user.email}}</p>
            <hr>
            <p>Endereço: {{discente.endereco}}</p>
            <hr>
            <p>Turma: {{discente.turma.nome}}</p>
            <hr>
        </div>
    </div>
    
</div>
<hr>
<div>
    <strong>Notas:</strong>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Disciplina</th>
                <th>I</th>
                <th>II</th>
                <th>III</th>
                <th>Média</th>
                <th>Faltas</th>
                <th>Situação</th>
            </tr>
        </thead>
        <tbody>
            {% for nota in notas %}
            <tr>
                <td>{{nota.disciplina.nome}}</td>
                <td>{{nota.nota1}}</td>
                <td>{{nota.nota2}}</td>
                <td>{{nota.nota3}}</td>
                <td>{{nota.media}}</td>
                <td>{{nota.faltas}}</td>
                <td>{{nota.situacao}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}